@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;

}

img {
    height: 40px;
    width: 100px;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #fafafa;
    color: #111;
    line-height: 1.6;
}

.container {
    max-width: 720px;
    margin: 60px auto;
    padding: 0 20px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.header-text {
    flex: 1;
}

.header-image img {
    width: 160px;
    height: auto;
    border-radius: 50%;
}


.header h1 {
    font-size: 60px;
    font-weight: 500;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin-top: 6px;
}

.socials {
    margin-top: 14px;
}

.socials a {
    margin: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid transparent;
}

.socials a:hover {
    border-color: #000;
}

/* SECTIONS */
.section {
    margin-bottom: 70px;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 28px;
}

/* EXPERIENCE */
.experience {
    display: flex;
    gap: 18px;
    margin-bottom: 28px;
}

.content {
    flex: 1;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row h3 {
    font-size: 18px;
}

.title-row span {
    font-size: 13px;
    color: #777;
}

.company {
    font-size: 14px;
    color: #666;
    margin-bottom: 6px;
}

.desc {
    font-size: 14px;
    margin-bottom: 8px;
}

.tags span {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 2px 8px;
    margin-right: 6px;
    margin-top: 6px;
    border-radius: 12px;
}

/* PROJECTS */
.project.featured {
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.project.featured img {
    width: 100%;
    display: block;
}

.project-content {
    padding: 16px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project {
    border: 1px solid #e5e5e5;
    background-color: white;
    border-radius: 10px;
}

.project h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.project p {
    font-size: 14px;
    margin-bottom: 10px;
}

.project img {
    height: auto;
}

.project-grid .project {
    padding: 16px;
}

@media screen and (max-width: 600px) {

    .experience {
        display: flex;
        flex-direction: column;
    }

    .header {
        flex-direction: column-reverse;
    }

    .header-text {
        text-align: center;
    }

    .title-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
    }
}